<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>866966799442483</string>
	<key>CLOUD_NAME</key>
	<string>diy5albvx</string>
	<key>API_SECRET</key>
	<string>qBhOABMjr6S67XKfA8h0WpHhdjo</string>
	<key>CLOUDINARY_URL</key>
	<string>cloudinary://866966799442483:qBhOABMjr6S67XKfA8h0WpHhdjo@diy5albvx</string>
</dict>
</plist>
